USE [master]
GO
/****** Object:  Database [Controls]    Script Date: 07/02/2019 21:08:57 ******/
CREATE DATABASE [Controls]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Controls', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Controls.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Controls_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Controls_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Controls].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Controls]
GO
/****** Object:  StoredProcedure [dbo].[ListarMovimentacao]    Script Date: 07/02/2019 21:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarMovimentacao]

AS
BEGIN
	select mm.DAT_MES, mm.DAT_ANO, mm.COD_PRODUTO, p.DESC_PRODUTO, mm.NUM_LANCAMENTO, mm.DES_DESCRICAO, mm.VAL_VALOR from MovimentoManual mm
	inner join produto p on p.COD_PRODUTO = mm.COD_PRODUTO
	inner join PRODUTO_COSIF pc on pc.COD_COSIF = mm.COD_COSIF
	order by mm.DAT_MES, mm.DAT_ANO, mm.NUM_LANCAMENTO
END

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/02/2019 21:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MovimentoManual]    Script Date: 07/02/2019 21:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimentoManual](
	[DAT_MES] [int] NOT NULL,
	[DAT_ANO] [int] NOT NULL,
	[NUM_LANCAMENTO] [int] NOT NULL,
	[COD_PRODUTO] [int] NOT NULL,
	[COD_COSIF] [int] NOT NULL,
	[VAL_VALOR] [decimal](18, 2) NOT NULL,
	[DES_DESCRICAO] [nvarchar](50) NULL,
	[DAT_MOVIMENTO] [smalldatetime] NOT NULL,
	[COD_USUARIO] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.MovimentoManual] PRIMARY KEY CLUSTERED 
(
	[DAT_MES] ASC,
	[DAT_ANO] ASC,
	[NUM_LANCAMENTO] ASC,
	[COD_PRODUTO] ASC,
	[COD_COSIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 07/02/2019 21:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[COD_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[DESC_PRODUTO] [nvarchar](30) NULL,
	[STA_STATUS] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PRODUTO] PRIMARY KEY CLUSTERED 
(
	[COD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUTO_COSIF]    Script Date: 07/02/2019 21:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUTO_COSIF](
	[COD_PRODUTO] [int] NOT NULL,
	[COD_COSIF] [int] NOT NULL,
	[COD_CLASSIFICACAO] [char](6) NULL,
	[STA_STATUS] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PRODUTO_COSIF] PRIMARY KEY CLUSTERED 
(
	[COD_PRODUTO] ASC,
	[COD_COSIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_COD_PRODUTO_COD_COSIF]    Script Date: 07/02/2019 21:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_COD_PRODUTO_COD_COSIF] ON [dbo].[MovimentoManual]
(
	[COD_PRODUTO] ASC,
	[COD_COSIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_COD_PRODUTO]    Script Date: 07/02/2019 21:08:57 ******/
CREATE NONCLUSTERED INDEX [IX_COD_PRODUTO] ON [dbo].[PRODUTO_COSIF]
(
	[COD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MovimentoManual]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovimentoManual_dbo.PRODUTO_COSIF_COD_PRODUTO_COD_COSIF] FOREIGN KEY([COD_PRODUTO], [COD_COSIF])
REFERENCES [dbo].[PRODUTO_COSIF] ([COD_PRODUTO], [COD_COSIF])
GO
ALTER TABLE [dbo].[MovimentoManual] CHECK CONSTRAINT [FK_dbo.MovimentoManual_dbo.PRODUTO_COSIF_COD_PRODUTO_COD_COSIF]
GO
ALTER TABLE [dbo].[PRODUTO_COSIF]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PRODUTO_COSIF_dbo.PRODUTO_COD_PRODUTO] FOREIGN KEY([COD_PRODUTO])
REFERENCES [dbo].[PRODUTO] ([COD_PRODUTO])
GO
ALTER TABLE [dbo].[PRODUTO_COSIF] CHECK CONSTRAINT [FK_dbo.PRODUTO_COSIF_dbo.PRODUTO_COD_PRODUTO]
GO
USE [master]
GO

GO
USE [Controls]

INSERT INTO PRODUTO (DESC_PRODUTO, STA_STATUS) VALUES ('Produto 1', 'A')
INSERT INTO PRODUTO (DESC_PRODUTO, STA_STATUS) VALUES ('Produto 2', 'A')
INSERT INTO PRODUTO (DESC_PRODUTO, STA_STATUS) VALUES ('Produto 3', 'A')


INSERT INTO PRODUTO_COSIF (COD_PRODUTO, COD_COSIF, COD_CLASSIFICACAO, STA_STATUS) VALUES (1, 500, 'Normal', 'A')
INSERT INTO PRODUTO_COSIF (COD_PRODUTO, COD_COSIF, COD_CLASSIFICACAO, STA_STATUS) VALUES (2, 404, 'MTM', 'A')
INSERT INTO PRODUTO_COSIF (COD_PRODUTO, COD_COSIF, COD_CLASSIFICACAO, STA_STATUS) VALUES (3, 503, 'Normal', 'A')
GO